/* transition */

body {
    background-color: black;
}

.box {
    width: 300px;
    height: 300px;
    border: 4px solid white;
    animation-name: box-animation; /*Nombre de la animacion que se va a applicar */
    animation-duration: 7s;     /*Duracion de la animacion */
    animation-timing-function: linear;      /*Ritmo que va a tener la funcion, similar al estilo que va a seguir */
    animation-iteration-count: infinite;
    /*animation: box-animation 3s linear infinite;*/     /*Forma abreviada para definir la animacion*/
}

/* Animacion con hover */
/* .box {
    background: indigo;
    transition: background 1s linear;
}
.box:hover {
    background: red;
} */

/* Animations */

/*se puede animar usando from y to pero puede quedar corto*/
/*Es mas recomendable usar porcentajes para una mejor animacion*/
/*hay propiedades animables y otras que no*/

@keyframes box-animation {     /*Se le da nombre a la funcion de animacion*/
    0%, 50% {
        background: indigo;     /*Se indica desde donde parte la animacion*/
    }
    25% {
        background: green;
        width: 500px;
    }
    75%{
        background: blue;
        width: 200px;
    }
    100% {
        background: red;     /*Y hasta donde va la animacion */
        width: 300px;
    }
}

