h1 {
    color: blue;
}

.container {
    display: flex;
    flex-wrap: wrap;
    background-color: dodgerblue;
}

.container div {
    background-color: blueviolet;
    margin: 10px;
    padding: 20px;
    font-size: 24px;
}

.containerGrid {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    background-color: blue;
}

.containerGrid div {
    background-color: beige;
    border: 1px solid black;
    padding: 10px;
    font-size: 30px;
    text-align: center;
}

