.image {
    width: 1200px;
    border: 4px solid black;
    animation-name: moving-image;
    animation-duration: 1500ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes moving-image {
    0% {
        width: 100px;
    }
    16% {
        width: 100px;
    }
    33% {
        width: 100px;
    }
    50% {
        width: 100px;
    }
    66% {
        width: 100px;
    }
    100% {
        width: 100px;
    }
}